#container {
  position: relative;
  width: 640px;
  height: 480px;
  margin: 0 auto;
}

video,
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  border-radius: 10px;
}

canvas {
  z-index: 2;
}

video {
  z-index: 1;
}
